In [89]:
#Importing packages

import pandas as pd
import numpy as np
from IPython.display import display

1. Reading CSV Dataset

In [90]:
# Load Dataset URL
csv_url = 'https://drive.google.com/uc?id=1BRkN4QGpcYQjhPZmdUE-j73HKh4UjhWX'

In [91]:
# Reading and displaying hosted(In google drive) dataset

df = pd.read_csv(csv_url)
display(df[:15])

,Age,Workclass,fnlwgt,Education,Education Num,Marital Status,Occupation,Relationship,Race,Sex,Capital Gain,Capital Loss,Hours Per Week,Native Country,Income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K
10,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,>50K
11,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
12,23,Private,122272,Bachelors,13,Never-married,Adm-clerical,Own-child,White,Female,0,0,30,United-States,<=50K
13,32,Private,205019,Assoc-acdm,12,Never-married,Sales,Not-in-family,Black,Male,0,0,50,United-States,<=50K
14,40,Private,121772,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,0,0,40,?,>50K

#2. Handling missing values

In [92]:
#Replacing "?" value with NaN inorder to handle the missing values

df.replace("?", np.nan, inplace=True)
print(df.isnull().sum())

Age                  0
Workclass         1836
fnlwgt               0
Education            0
Education Num        0
Marital Status       0
Occupation        1843
Relationship         0
Race                 0
Sex                  0
Capital Gain         0
Capital Loss         0
Hours Per Week       0
Native Country     583
Income               0
dtype: int64

In [93]:
total_rows = df.shape[0] -1
total_columns = df.shape[1]

print(total_rows)

32560

In [94]:
rows_with_any_nan_value = df.isna().any(axis=1)

In [95]:
#Displaying rows with missing values

display(df[rows_with_any_nan_value])

,Age,Workclass,fnlwgt,Education,Education Num,Marital Status,Occupation,Relationship,Race,Sex,Capital Gain,Capital Loss,Hours Per Week,Native Country,Income
14,40,Private,121772,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,0,0,40,NaN,>50K
27,54,NaN,180211,Some-college,10,Married-civ-spouse,NaN,Husband,Asian-Pac-Islander,Male,0,0,60,South,>50K
38,31,Private,84154,Some-college,10,Married-civ-spouse,Sales,Husband,White,Male,0,0,38,NaN,>50K
51,18,Private,226956,HS-grad,9,Never-married,Other-service,Own-child,White,Female,0,0,30,NaN,<=50K
61,32,NaN,293936,7th-8th,4,Married-spouse-absent,NaN,Not-in-family,White,Male,0,0,40,NaN,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32530,35,NaN,320084,Bachelors,13,Married-civ-spouse,NaN,Wife,White,Female,0,0,55,United-States,>50K
32531,30,NaN,33811,Bachelors,13,Never-married,NaN,Not-in-family,Asian-Pac-Islander,Female,0,0,99,United-States,<=50K
32539,71,NaN,287372,Doctorate,16,Married-civ-spouse,NaN,Husband,White,Male,0,0,10,United-States,>50K
32541,41,NaN,202822,HS-grad,9,Separated,NaN,Not-in-family,Black,Female,0,0,32,United-States,<=50K
32542,72,NaN,129912,HS-grad,9,Married-civ-spouse,NaN,Husband,White,Male,0,0,25,United-States,<=50K

In [96]:
# Handling missing values with appropriate methods

df["Workclass"].fillna(df["Workclass"].mode()[0], inplace=True)
df["Occupation"].fillna(df["Occupation"].mode()[0], inplace=True)

df["Native Country"].fillna("Unknown", inplace=True)

In [97]:
display(df[rows_with_any_nan_value])

,Age,Workclass,fnlwgt,Education,Education Num,Marital Status,Occupation,Relationship,Race,Sex,Capital Gain,Capital Loss,Hours Per Week,Native Country,Income
14,40,Private,121772,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,0,0,40,Unknown,>50K
27,54,Private,180211,Some-college,10,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,60,South,>50K
38,31,Private,84154,Some-college,10,Married-civ-spouse,Sales,Husband,White,Male,0,0,38,Unknown,>50K
51,18,Private,226956,HS-grad,9,Never-married,Other-service,Own-child,White,Female,0,0,30,Unknown,<=50K
61,32,Private,293936,7th-8th,4,Married-spouse-absent,Prof-specialty,Not-in-family,White,Male,0,0,40,Unknown,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32530,35,Private,320084,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,White,Female,0,0,55,United-States,>50K
32531,30,Private,33811,Bachelors,13,Never-married,Prof-specialty,Not-in-family,Asian-Pac-Islander,Female,0,0,99,United-States,<=50K
32539,71,Private,287372,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,10,United-States,>50K
32541,41,Private,202822,HS-grad,9,Separated,Prof-specialty,Not-in-family,Black,Female,0,0,32,United-States,<=50K
32542,72,Private,129912,HS-grad,9,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,25,United-States,<=50K

#3. Convert Categorical Data into numerical form

In [98]:
# Convert categorical data into numerical form using one-hot encoding

df_encoded = pd.get_dummies(df, columns = ['Workclass', 'Marital Status', 'Occupation', 'Relationship', 'Race', 'Native Country']);

display(df_encoded)

,Age,fnlwgt,Education,Education Num,Sex,Capital Gain,Capital Loss,Hours Per Week,Income,Workclass_Federal-gov,...,Native Country_Puerto-Rico,Native Country_Scotland,Native Country_South,Native Country_Taiwan,Native Country_Thailand,Native Country_Trinadad&Tobago,Native Country_United-States,Native Country_Unknown,Native Country_Vietnam,Native Country_Yugoslavia
0,39,77516,Bachelors,13,Male,2174,0,40,<=50K,False,...,False,False,False,False,False,False,True,False,False,False
1,50,83311,Bachelors,13,Male,0,0,13,<=50K,False,...,False,False,False,False,False,False,True,False,False,False
2,38,215646,HS-grad,9,Male,0,0,40,<=50K,False,...,False,False,False,False,False,False,True,False,False,False
3,53,234721,11th,7,Male,0,0,40,<=50K,False,...,False,False,False,False,False,False,True,False,False,False
4,28,338409,Bachelors,13,Female,0,0,40,<=50K,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,257302,Assoc-acdm,12,Female,0,0,38,<=50K,False,...,False,False,False,False,False,False,True,False,False,False
32557,40,154374,HS-grad,9,Male,0,0,40,>50K,False,...,False,False,False,False,False,False,True,False,False,False
32558,58,151910,HS-grad,9,Female,0,0,40,<=50K,False,...,False,False,False,False,False,False,True,False,False,False
32559,22,201490,HS-grad,9,Male,0,0,20,<=50K,False,...,False,False,False,False,False,False,True,False,False,False
32560,52,287927,HS-grad,9,Female,15024,0,40,>50K,False,...,False,False,False,False,False,False,True,False,False,False

In [99]:
#Convert binary categorical data to 1 and 0

df_encoded['Sex'] = (df_encoded['Sex'] == 'Male').astype(int)
df_encoded['Income'] = (df_encoded['Income']=='>50K').astype(int)

#Converting all boolean values into 1's and 0's
df_encoded = df_encoded.applymap(lambda x : 1 if x is True else (0 if x is False else x))

# Drop all columns that is not in numerical form
for col in df_encoded.columns:
  if not pd.api.types.is_numeric_dtype(df_encoded[col]):
    df_encoded = df_encoded.drop(col, axis = 1)


display(df_encoded)

,Age,fnlwgt,Education Num,Sex,Capital Gain,Capital Loss,Hours Per Week,Income,Workclass_Federal-gov,Workclass_Local-gov,...,Native Country_Puerto-Rico,Native Country_Scotland,Native Country_South,Native Country_Taiwan,Native Country_Thailand,Native Country_Trinadad&Tobago,Native Country_United-States,Native Country_Unknown,Native Country_Vietnam,Native Country_Yugoslavia
0,39,77516,13,1,2174,0,40,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,50,83311,13,1,0,0,13,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2,38,215646,9,1,0,0,40,0,0,0,...,0,0,0,0,0,0,1,0,0,0
3,53,234721,7,1,0,0,40,0,0,0,...,0,0,0,0,0,0,1,0,0,0
4,28,338409,13,0,0,0,40,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,257302,12,0,0,0,38,0,0,0,...,0,0,0,0,0,0,1,0,0,0
32557,40,154374,9,1,0,0,40,1,0,0,...,0,0,0,0,0,0,1,0,0,0
32558,58,151910,9,0,0,0,40,0,0,0,...,0,0,0,0,0,0,1,0,0,0
32559,22,201490,9,1,0,0,20,0,0,0,...,0,0,0,0,0,0,1,0,0,0
32560,52,287927,9,0,15024,0,40,1,0,0,...,0,0,0,0,0,0,1,0,0,0

#4. Scale/Normalize numerical feature

In [100]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()

# Scale some features using Min-Max Scaler

df_encoded['Age'] = scaler.fit_transform(df_encoded[['Age']])
df_encoded['Hours Per Week'] = scaler.fit_transform(df_encoded[['Hours Per Week']])
df_encoded['Capital Gain'] = scaler.fit_transform(df_encoded[['Capital Gain']])
df_encoded['Capital Loss'] = scaler.fit_transform(df_encoded[['Capital Loss']])

display(df_encoded)

,Age,fnlwgt,Education Num,Sex,Capital Gain,Capital Loss,Hours Per Week,Income,Workclass_Federal-gov,Workclass_Local-gov,...,Native Country_Puerto-Rico,Native Country_Scotland,Native Country_South,Native Country_Taiwan,Native Country_Thailand,Native Country_Trinadad&Tobago,Native Country_United-States,Native Country_Unknown,Native Country_Vietnam,Native Country_Yugoslavia
0,0.301370,77516,13,1,0.021740,0.0,0.397959,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,0.452055,83311,13,1,0.000000,0.0,0.122449,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2,0.287671,215646,9,1,0.000000,0.0,0.397959,0,0,0,...,0,0,0,0,0,0,1,0,0,0
3,0.493151,234721,7,1,0.000000,0.0,0.397959,0,0,0,...,0,0,0,0,0,0,1,0,0,0
4,0.150685,338409,13,0,0.000000,0.0,0.397959,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,0.136986,257302,12,0,0.000000,0.0,0.377551,0,0,0,...,0,0,0,0,0,0,1,0,0,0
32557,0.315068,154374,9,1,0.000000,0.0,0.397959,1,0,0,...,0,0,0,0,0,0,1,0,0,0
32558,0.561644,151910,9,0,0.000000,0.0,0.397959,0,0,0,...,0,0,0,0,0,0,1,0,0,0
32559,0.068493,201490,9,1,0.000000,0.0,0.193878,0,0,0,...,0,0,0,0,0,0,1,0,0,0
32560,0.479452,287927,9,0,0.150242,0.0,0.397959,1,0,0,...,0,0,0,0,0,0,1,0,0,0

#5. Detect and handle outliers

#6. Feature Engineering

In [101]:
#Generate Correlation matrix and displaying all rows which are correlation value larger than 0.3

corr_matrix = df_encoded.corr()

corr_matrix = corr_matrix[(abs(corr_matrix)) > 0.3 ];
corr_matrix = corr_matrix[(abs(corr_matrix)) != 1.0 ];

corr_matrix = corr_matrix.dropna(how='all', axis = 0)
corr_matrix = corr_matrix.dropna(how='all', axis = 1)

display(corr_matrix)

,Age,Education Num,Sex,Income,Workclass_Federal-gov,Workclass_Local-gov,Workclass_Private,Workclass_Self-emp-inc,Workclass_Self-emp-not-inc,Workclass_State-gov,...,Relationship_Own-child,Relationship_Unmarried,Relationship_Wife,Race_Asian-Pac-Islander,Race_Black,Race_White,Native Country_Mexico,Native Country_Philippines,Native Country_United-States,Native Country_Unknown
Age,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.432918,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Education Num,NaN,NaN,NaN,0.335154,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sex,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,-0.321273,-0.319311,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Income,NaN,0.335154,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Workclass_Federal-gov,NaN,NaN,NaN,NaN,NaN,NaN,-0.304664,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Workclass_Local-gov,NaN,NaN,NaN,NaN,NaN,NaN,-0.458140,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Workclass_Private,NaN,NaN,NaN,NaN,-0.304664,-0.45814,NaN,-0.3293,-0.508549,-0.35617,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Workclass_Self-emp-inc,NaN,NaN,NaN,NaN,NaN,NaN,-0.329300,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Workclass_Self-emp-not-inc,NaN,NaN,NaN,NaN,NaN,NaN,-0.508549,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Workclass_State-gov,NaN,NaN,NaN,NaN,NaN,NaN,-0.356170,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Marital Status_Divorced,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.328876,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Marital Status_Married-civ-spouse,0.315679,NaN,0.431805,0.444696,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.380070,-0.317487,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Marital Status_Never-married,-0.534359,NaN,NaN,-0.318440,NaN,NaN,NaN,NaN,NaN,NaN,...,0.509226,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Occupation_Prof-specialty,NaN,0.313431,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Relationship_Husband,0.316875,NaN,0.580135,0.401035,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.354353,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Relationship_Not-in-family,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Relationship_Own-child,-0.432918,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Relationship_Unmarried,NaN,NaN,-0.321273,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Relationship_Wife,NaN,NaN,-0.319311,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Race_Asian-Pac-Islander,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,-0.439572,NaN,0.408355,-0.365437,NaN
Race_Black,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,-0.788747,NaN,NaN,NaN,NaN
Race_White,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,-0.439572,-0.788747,NaN,NaN,NaN,NaN,NaN
Native Country_Mexico,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.416286,NaN
Native Country_Philippines,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.408355,NaN,NaN,NaN,NaN,NaN,NaN
Native Country_United-States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,-0.365437,NaN,NaN,-0.416286,NaN,NaN,-0.396016
Native Country_Unknown,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.396016,NaN

#7. Split Data

In [102]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler

# Drop target Column
X = (df_encoded.drop('Income', axis=1)).to_numpy()
Y = (df_encoded['Income']).to_numpy()

# Scale feature columns using StandardScaler
scaler = StandardScaler()
X = scaler.fit_transform(X)

# Split train and test data
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.4, random_state=42)

# Load model
model = LogisticRegression()

# Train logistic regression model
history = model.fit(x_train, y_train)

In [103]:
# Evaluate model accuracy using test data

predictions = model.predict(x_test)

correct_predictions = np.sum(predictions == y_test)
total_predictions = len(predictions)
correct_prediction_precentage = (correct_predictions/total_predictions)*100
print(f'Accuracy precentage : {correct_prediction_precentage:.2f}%')

Accuracy precentage : 85.05%

#7. Evaluate the result

In [104]:
# Load other matrics for evaluate model's accuracy

from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, confusion_matrix, roc_auc_score, roc_curve, log_loss

In [105]:
y_pred = np.array(predictions)
y_true = np.array(y_test)

In [106]:
print("Accuracy : ", accuracy_score(y_true, y_pred))

Accuracy :  0.8505182341650672

In [107]:
print("Precision : ", precision_score(y_true, y_pred))

Precision :  0.7274125336409073

In [108]:
print("Recall : ", recall_score(y_true, y_pred))

Recall :  0.6044728434504792

In [109]:
print("F1 Score : ", f1_score(y_true, y_pred))

F1 Score :  0.6602687140115163

In [110]:
print("Confution matrix :\n ", confusion_matrix(y_true, y_pred))

Confution matrix :
  [[9186  709]
 [1238 1892]]

#8. Train a model with neural network

In [111]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout, Input

# Neural network model creation

nn_model = Sequential([
    Input(shape= (x_train.shape[1],)),
    Dense(units=128, activation = 'relu'),
    Dropout(0.5),
    Dense(units=64, activation = 'relu'),
    Dropout(0.5),
    Dense(units = 32, activation='relu'),
    Dense(units=1, activation='sigmoid')
])

In [112]:
# Compile NN model with defining optimizer and loss function

nn_model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [113]:
# Training NN model 

history = nn_model.fit(x_train, y_train, epochs=50, batch_size=64, validation_data=(x_test, y_test))

Epoch 1/50
306/306 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.7609 - loss: 0.4867 - val_accuracy: 0.8430 - val_loss: 0.3416
Epoch 2/50
306/306 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8296 - loss: 0.3637 - val_accuracy: 0.8474 - val_loss: 0.3288
Epoch 3/50
306/306 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8400 - loss: 0.3442 - val_accuracy: 0.8497 - val_loss: 0.3244
Epoch 4/50
306/306 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8381 - loss: 0.3409 - val_accuracy: 0.8519 - val_loss: 0.3216
Epoch 5/50
306/306 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8502 - loss: 0.3262 - val_accuracy: 0.8524 - val_loss: 0.3179
Epoch 6/50
306/306 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8504 - loss: 0.3227 - val_accuracy: 0.8535 - val_loss: 0.3192
Epoch 7/50
306/306 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8455 - loss: 0.3272 - val_accuracy: 0.8530 - val_loss: 0.3184
Epoch 8/50
306/306 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8550 - loss: 0.3193 - val_accuracy: 0.8550 - val_loss: 0.3163
Epoch 9/50
306/306 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8560 - loss: 0.3162 - val_accuracy: 0.8558 - val_loss: 0.3159
Epoch 10/50
306/306 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8544 - loss: 0.3145 - val_accuracy: 0.8562 - val_loss: 0.3164
Epoch 11/50
306/306 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8564 - loss: 0.3113 - val_accuracy: 0.8550 - val_loss: 0.3181
Epoch 12/50
306/306 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8580 - loss: 0.3082 - val_accuracy: 0.8554 - val_loss: 0.3193
Epoch 13/50
306/306 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8597 - loss: 0.3140 - val_accuracy: 0.8557 - val_loss: 0.3159
Epoch 14/50
306/306 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8583 - loss: 0.3134 - val_accuracy: 0.8548 - val_loss: 0.3164
Epoch 15/50
306/306 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8626 - loss: 0.3052 - val_accuracy: 0.8550 - val_loss: 0.3141
Epoch 16/50
306/306 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8549 - loss: 0.3104 - val_accuracy: 0.8563 - val_loss: 0.3143
Epoch 17/50
306/306 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8585 - loss: 0.2986 - val_accuracy: 0.8556 - val_loss: 0.3156
Epoch 18/50
306/306 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8565 - loss: 0.3083 - val_accuracy: 0.8550 - val_loss: 0.3146
Epoch 19/50
306/306 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8631 - loss: 0.2990 - val_accuracy: 0.8552 - val_loss: 0.3147
Epoch 20/50
306/306 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8567 - loss: 0.3047 - val_accuracy: 0.8565 - val_loss: 0.3143
Epoch 21/50
306/306 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8627 - loss: 0.3056 - val_accuracy: 0.8560 - val_loss: 0.3145
Epoch 22/50
306/306 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8646 - loss: 0.3026 - val_accuracy: 0.8553 - val_loss: 0.3168
Epoch 23/50
306/306 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8599 - loss: 0.3009 - val_accuracy: 0.8550 - val_loss: 0.3173
Epoch 24/50
306/306 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8635 - loss: 0.3016 - val_accuracy: 0.8550 - val_loss: 0.3156
Epoch 25/50
306/306 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8615 - loss: 0.3036 - val_accuracy: 0.8558 - val_loss: 0.3161
Epoch 26/50
306/306 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8641 - loss: 0.2956 - val_accuracy: 0.8560 - val_loss: 0.3169
Epoch 27/50
306/306 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8682 - loss: 0.2903 - val_accuracy: 0.8553 - val_loss: 0.3175
Epoch 28/50
306/306 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8643 - loss: 0.2970 - val_accuracy: 0.8560 - val_loss: 0.3164
Epoch 29/50
306/306 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8654 - loss: 0.2925 - val_accuracy: 0.8554 - val_loss: 0.3152
Epoch 30/50
306/306 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8625 - loss: 0.3006 - val_accuracy: 0.8564 - val_loss: 0.3142
Epoch 31/50
306/306 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8641 - loss: 0.2957 - val_accuracy: 0.8567 - val_loss: 0.3183
Epoch 32/50
306/306 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8652 - loss: 0.2924 - val_accuracy: 0.8567 - val_loss: 0.3161
Epoch 33/50
306/306 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8683 - loss: 0.2906 - val_accuracy: 0.8567 - val_loss: 0.3198
Epoch 34/50
306/306 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8644 - loss: 0.2936 - val_accuracy: 0.8570 - val_loss: 0.3163
Epoch 35/50
306/306 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8652 - loss: 0.2950 - val_accuracy: 0.8554 - val_loss: 0.3165
Epoch 36/50
306/306 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8682 - loss: 0.2972 - val_accuracy: 0.8547 - val_loss: 0.3163
Epoch 37/50
306/306 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8661 - loss: 0.2929 - val_accuracy: 0.8559 - val_loss: 0.3144
Epoch 38/50
306/306 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8685 - loss: 0.2956 - val_accuracy: 0.8558 - val_loss: 0.3146
Epoch 39/50
306/306 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8645 - loss: 0.2968 - val_accuracy: 0.8562 - val_loss: 0.3195
Epoch 40/50
306/306 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8686 - loss: 0.2895 - val_accuracy: 0.8554 - val_loss: 0.3174
Epoch 41/50
306/306 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8636 - loss: 0.2939 - val_accuracy: 0.8555 - val_loss: 0.3177
Epoch 42/50
306/306 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8692 - loss: 0.2891 - val_accuracy: 0.8543 - val_loss: 0.3191
Epoch 43/50
306/306 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8695 - loss: 0.2838 - val_accuracy: 0.8550 - val_loss: 0.3187
Epoch 44/50
306/306 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8685 - loss: 0.2877 - val_accuracy: 0.8544 - val_loss: 0.3189
Epoch 45/50
306/306 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8635 - loss: 0.2905 - val_accuracy: 0.8560 - val_loss: 0.3178
Epoch 46/50
306/306 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8695 - loss: 0.2852 - val_accuracy: 0.8553 - val_loss: 0.3188
Epoch 47/50
306/306 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8651 - loss: 0.2923 - val_accuracy: 0.8570 - val_loss: 0.3173
Epoch 48/50
306/306 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8705 - loss: 0.2900 - val_accuracy: 0.8535 - val_loss: 0.3178
Epoch 49/50
306/306 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8695 - loss: 0.2873 - val_accuracy: 0.8559 - val_loss: 0.3209
Epoch 50/50
306/306 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8704 - loss: 0.2890 - val_accuracy: 0.8548 - val_loss: 0.3176

In [114]:
# Evaluate NN model accuracy using test data

nn_prediction_probabilities = nn_model.predict(x_test)

408/408 ━━━━━━━━━━━━━━━━━━━━ 0s 604us/step

In [115]:
nn_prediction_probabilities = nn_model.predict(x_test)
nn_predictions = np.array((nn_prediction_probabilities > 0.5).astype(int))
nn_predictions = np.ravel(nn_predictions) # (13555,) format

nn_correct_predictions = np.sum(nn_predictions == y_test)
nn_total_predictions = len(nn_predictions)
nn_accuracy = (nn_correct_predictions/nn_total_predictions)*100

nn_y_pred = np.array(nn_predictions)
nn_y_true = np.array(y_test)


print(f'NN Accuracy : {nn_accuracy:.2f}%')

408/408 ━━━━━━━━━━━━━━━━━━━━ 0s 551us/step
NN Accuracy : 85.48%

In [116]:
print("Accuracy : ", accuracy_score(nn_y_true, nn_y_pred))

Accuracy :  0.8548176583493282

In [117]:
print("Precision : ", precision_score(nn_y_true, nn_y_pred))

Precision :  0.7590966122961104

In [118]:
print("Recall : ", recall_score(nn_y_true, nn_y_pred))

Recall :  0.5798722044728435

In [119]:
print("F1 Score : ", f1_score(nn_y_true, nn_y_pred))

F1 Score :  0.6574895852200688

In [120]:
print("Confution matrix :\n ", confusion_matrix(nn_y_true, nn_y_pred))

Confution matrix :
  [[9319  576]
 [1315 1815]]